body {
    margin: 0;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

/* Common Styles */
.show {
    display: 'inherit';
}

.hide {
    display: none;
}

.content {
    padding: 1rem; 
}

/* Navigation styles */
.navigation {
    display: flex;
    color: #ffffff;
    background-color: #535353;
}

.navigation > div {
    padding: 1rem;
}

.navigation > div.selected {
    border-bottom: .250rem solid #00a6a6; 
}

.navigation > div:first-child {
    background-color: #3e3e3e;
}

.navigation > div:not(:first-child) {
    cursor: pointer;
}

/* results template styles */
.results  {
    display: flex;
    flex-wrap: wrap;
}

.results img:first-child {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    background: #f9f9f9;
}

.results > div {
    flex-basis: 45%;
    box-shadow: 0px 3px 5px -1px
        rgba(0, 0, 0, 0.2), 0px 5px 8px 0px 
        rgba(0, 0, 0, 0.14), 0px 1px 14px 0px 
        rgba(0, 0, 0, 0.12);
    margin: .5rem;
}

.recipe-details {
    padding: .5rem;
    position: relative;
    line-height: 1.5;
}

.results > div.no-results {
    padding: 1rem;
    flex-basis: 100%;
    box-shadow: none;
    color: #2874bb;
    background-color: #eff7ff;
    border: solid .063rem #51abff;
}

@media (min-width: 700px) {
    .content {
        width: 75%;
        margin: auto;
    }

    .results > div {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1080px) {
    .content {
        width: 70%;
        margin: auto;
    }

    .results > div {
        flex-basis: 30%;
    }
}

@media (min-width: 1680px) {
    .results > div {
        flex-basis: 23%;
    }
}

/* Favorites styles */
.fav-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    margin-top: .2rem;
    display: inline-flex;
}

.bookmark-regular {
    background: url('./../images/bookmark-regular.svg') no-repeat;
}

.minus-circle-solid {
    background: url('./../images/minus-circle-solid.svg') no-repeat;
}

/* Search component styles */
.search-input-container, .fav-input-container {
    display: flex;
    margin: 1rem 0;
}

.search-input {
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 2rem;
    border: .063rem solid #cccccc;
    font-size: 1.5rem;
    background-image: url('./../images/search-solid.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    outline: none;
    flex-basis: 100%;
}
